{{!--
If the template in question has a background image, then we render responsive image styles
for it, and apply those styles to the <header> tag.
--}}

{{#if @custom.light_mode_cover}}
  {{#if @custom.dark_mode_cover}}
    <section class="m-hero with-picture" data-aos="fade">
      <div class="m-hero__picture {{#is "post"}}in-post{{/is}}">
        <img
          id="cover-img-light"
          srcset="
            {{img_url @custom.light_mode_cover size="s"}} 300w,
            {{img_url @custom.light_mode_cover size="m"}} 600w,
            {{img_url @custom.light_mode_cover size="l"}} 1000w,
            {{img_url @custom.light_mode_cover size="xl"}} 2000w
          "
          sizes="(max-width: 600px) 600px, (max-width: 1000px) 1000px, 2000px"
          src="{{img_url @custom.light_mode_cover size="l"}}"
          alt="{{feature_image_alt}}"
        />
      </div>
      <div class="m-hero__picture {{#is "post"}}in-post{{/is}}">
        <img
          id="cover-img-dark"
          srcset="
            {{img_url @custom.dark_mode_cover size="s"}} 300w,
            {{img_url @custom.dark_mode_cover size="m"}} 600w,
            {{img_url @custom.dark_mode_cover size="l"}} 1000w,
            {{img_url @custom.dark_mode_cover size="xl"}} 2000w
          "
          sizes="(max-width: 600px) 600px, (max-width: 1000px) 1000px, 2000px"
          src="{{img_url @custom.dark_mode_cover size="l"}}"
          alt="{{feature_image_alt}}"
        />
      </div>
  {{else}}
    {{> hero background=@site.cover_image}}
  {{/if}}
{{else}}
  {{> hero background=@site.cover_image}}
{{/if}}
